<form method="post" action="">
  <textarea name="name">Name</textarea>
  <textarea name="breed">Breed</textarea>
  <textarea name"age">Age</textarea>
  <button type= "submit" value="">Submit</button>
</form>
