<form method="post" action="/">
  <textarea name="name">Name</textarea><br>
  <textarea name="breed">Breed</textarea><br>
  <textarea name"age">Age</textarea><br>
  <button type= "submit" value="">Submit</button>
</form>
